html, body {
	margin: 0;
	padding: 0;
	overflow-y: hidden;
	overflow-x: hidden;
}

#score {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	color: #fff;
	font-family: 'Oswald', sans-serif;
	font-size: 6vw;
}

#main-content {
	position: absolute;
	background-color: #FF9671;
	height: 100vh;
	width: 100vw;
}

#word {
	color: #fff;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 5vh;
}

#obj {
	background-color: #F9F871;
	position: absolute;
	height: 15vw;
	width: 15vw;
	left: 42.5vw;
	bottom: 20vh;
	border-radius : 100%;
   -webkit-box-shadow: 0 0 10px #000;
   box-shadow: 0 0 10px #000;
}

#barrier-left {
	background-color: #FFC75F;
	height: 15vw;
	width: 1px;
	position: absolute;
	top: 0vh;
	left: 0;
	   -webkit-box-shadow: 0 0 10px #000;
   box-shadow: 0 0 10px #000;
   border-radius: 7.5vw;
}

#barrier-right {
	background-color: #FFC75F;
	height: 15vw;
	width: 1px;
	position: absolute;
	top: 0vh;
	right: 0;
	   -webkit-box-shadow: 0 0 10px #000;
   box-shadow: 0 0 10px #000;
   border-radius: 7.5vw;
}